* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header, .board-area {
  display: grid;
  justify-content: center;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
}

.board-row {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
}

ul {
  list-style-type: none;
}

.board-row li {
  display: grid;
  justify-content: center;
  align-items: center;

  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.board-row:first-child {
  border-left: 1px solid black;
  border-top: 1px solid black;
}

